.nav_img {
    background-image: url("/static/img/academy1.jpg");
    background-size: cover;
}

.title {
    color: white;
}

.business_img_box > img {
    width: 70%;
    height: 70%;
    border-bottom: 1px solid #011123;
}

.business_box {
    width: 70%;
    margin: 0 auto;
}

.business_contents1 {
    border-bottom: 1px solid #011123;
}

.contents_title {
    font-size: 3vw;
    font-weight: bold;
}

.contents_box {
    width: 100%;
    margin-top: 20px;
}

.contents_img_box {
    width: 50%;
}

.contents_img {
    width: 50%;
}

.contents_img_box > p {
    width: 100%;
    font-size: 1.5vw;
    font-weight: bold;
}