{% extends 'base.html' %}

{% load static %}

{% block title %}Blog - ARIST{% endblock %}


{% block content %}
<div class="jumbotron text-center nav_img">
    <h2 class="title"><strong>Blog</strong></h2>
</div>

{% for post in posts %}
    <h3>{{ post.title }}</h3>
    <h4>{{ post.modify_dt|date:"N d, Y" }}</h4>
    <h4>{{ post.description }}</h4>
    <a class="btn btn-lg btn-primary" href="{{ post.get_absolute_url }}">View navbar docs</a>
{% endfor %}

<br>

<div>
    <span>
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">PreviousPage</a>
        {% endif %}

        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">NextPage</a>
        {% endif %}
    </span>
</div>

{% endblock %}